        .vscode/
	Code/C++Code/anagram_string
	CodeC++Code/binary_search
	CodeC++Code/class
	CodeCodeC++Code/employee
	CodeC++Code/loop
	CodeC++Code/matrix
	CodeC++Code/matrix_add
	CodeC++Code/primefactor
	CodeC++Code/primefactorization
	CodeC++Code/template_find_max
	CodeC++Code/template_struct