    .vscode/
	./C++Code/anagram_string
	./C++Code/binary_search
	./C++Code/class
	./C++Code/employee
	./C++Code/loop
	./C++Code/matrix
	./C++Code/matrix_add
	./C++Code/primefactor
	./C++Code/primefactorization
	./C++Code/template_find_max
	./C++Code/template_struct